{% extends '_layout.njk' %}

{% block content %}
  <section class="hero">
    <div class="hero-body">
      <p class="title">Hello world!</p>
      <p class="subtitle">Welcome to {{ appName }}</p>
    </div>
  </section>
{% endblock %}
